# **Random Selection**

In [0]:
import pandas as pd
url = 'https://raw.githubusercontent.com/ee2110/Mathematics-Behind-Machine-Learning/master/Multi-Armed_Bandit/dataset_sample/Ads_Optimisation.csv'
dataset = pd.read_csv(url)
# Dataset is now stored in a Pandas Dataframe

In [9]:
!ls

sample_data

In [10]:
dataset

      Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
0        1     0     0     0     1     0     0     0     1      0
1        0     0     0     0     0     0     0     0     1      0
2        0     0     0     0     0     0     0     0     0      0
3        0     1     0     0     0     0     0     1     0      0
4        0     0     0     0     0     0     0     0     0      0
...    ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
9995     0     0     1     0     0     0     0     1     0      0
9996     0     0     0     0     0     0     0     0     0      0
9997     0     0     0     0     0     0     0     0     0      0
9998     1     0     0     0     0     0     0     1     0      0
9999     0     1     0     0     0     0     0     0     0      0

[10000 rows x 10 columns]

In [0]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import random

In [0]:
N = 10000
d = 10
ads_selected = []
total_reward = 0
for n in range(0, N):
    ad = random.randrange(d)
    ads_selected.append(ad)
    reward = dataset.values[n, ad]
    total_reward = total_reward + reward

In [13]:
total_reward

1230

In [14]:
pd.Series(ads_selected).tail(1000).value_counts(normalize = True)

1    0.111
8    0.109
6    0.108
4    0.101
5    0.098
2    0.098
7    0.094
3    0.094
0    0.094
9    0.093
dtype: float64

Pandas value_counts() method returns an object containing counts of unique values in sorted order.

# **Upper Confidence Bound**

In [0]:
# Implementing UCB
import math
N = 10000
d = 10
ads_selected = []
numbers_of_selections = [0] * d
sums_of_reward = [0] * d
total_reward = 0

In [0]:
for n in range(0, N):
    ad = 0
    max_upper_bound = 0
    for i in range(0, d):
        if (numbers_of_selections[i] > 0):
            average_reward = sums_of_reward[i] / numbers_of_selections[i]
            delta_i = math.sqrt(2 * math.log(n+1) / numbers_of_selections[i])
            upper_bound = average_reward + delta_i
        else:
            upper_bound = 1e400
        if upper_bound > max_upper_bound:
            max_upper_bound = upper_bound
            ad = i
    ads_selected.append(ad)
    numbers_of_selections[ad] += 1
    reward = dataset.values[n, ad]
    sums_of_reward[ad] += reward
    total_reward += reward

In [17]:
total_reward

2125

In [18]:
pd.Series(ads_selected).head(1500).value_counts(normalize = True)

4    0.250000
7    0.170667
0    0.106000
3    0.091333
8    0.075333
1    0.073333
6    0.066000
2    0.066000
9    0.053333
5    0.048000
dtype: float64